body {
    font-family: verdana, sans-serif;
    color: lightskyblue;
    background-color: #36393F;
}

p {
    margin-top: 3px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

input {
    resize: none;
    background-color: #72767D;
    text-align: center;
    overflow: hidden;
    outline: none;
}

#answer-box {
    display: block;
    border-radius: 5px;
    margin: auto;
    height: 35px;
    width: 270px;
    margin-top: 15px;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
}

#seed-input {
    display: inline-block;
    background-color: lightskyblue;
    width: 100px;
    height: 40px;
    margin-left: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 39px;
}

#start-button {
    background-color: lightskyblue;
    display: inline-block;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    /* box-shadow:  
        12px 12px 24px #96b8c4,
        -12px -12px 24px #ccf8ff; */
}

#start-button:hover {
    background-color: rgb(111, 179, 221);
    cursor: pointer;
}

#start-button:active {
    background-color: rgb(72, 146, 192);
    cursor: pointer;
}

#input-row {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 365px;
}

#board {
    display: grid;
    width: 313px;
}

.char-box {
    display: inline-block;
    background-color: #72767D;
    font-weight: bold;
    color: black;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    /* box-shadow: 
        inset 3px 3px 7px #626464,
        inset -3px -3px 7px #a0a2a4; */
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    padding: 4px;
}

.row {
    margin: auto;
    width: 313px;
    padding: 2px;
}

#share-box {
    margin-top: 20px;
    margin: auto;
    width: 200px;
    height: 250px;
    resize: none;
    background-color: #72767D;
    border-radius: 10px;
    overflow: hidden;
    outline: none;
    padding: 10px;
    border: none;
}