body {
    font-family: system-ui, sans-serif;
    color: lightblue;
    background-color: #36393F;
}

h1 {
    text-align: center;
}

p {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

#board {
    display: grid;

}

.char-box {
    display: inline-block;
    background-color: #818384;
    font-weight: bold;
    color: black;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.row {
    margin: auto;
    width: 290px;
    padding: 10px;
}

/* 
    green: 5A8C4D
    yellow: B49E34
*/